@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Cormorant+Upright&family=Roboto:wght@300&display=swap");

* {
  font-family: "Cormorant Upright";
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  background: black;
}

.loader-div {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0b0b0b;
}

.nav-links {
  display: none;
}

.blogli:hover .blogline {
  display: block;
}

.page:hover .blogline {
  display: block;
}

.hiddenNavList > li {
  padding: 5px;
}

/* ----------------- Header ---------------- */

/* ----------------- Scrollbar ---------------- */

::-webkit-scrollbar {
  background: #0b0b0b;
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: #272727;
  border-radius: 10px;
}

/* ----------------- Responsiveness ---------------- */

@media (min-width: 800px) {
  .nav-links {
    display: flex;
  }
  .headerMainDiv {
    flex-direction: row;
  }
  .textHeaderDiv {
    width: 50%;
    padding-left: 50px;
  }
  .textHeaderDiv{
    margin-top: 50px;
  }
  .textHeaderDiv h2 {
    font-size: 23px;
  }
  .textHeaderDiv h1 {
    font-size: 90px;
  }
  .textHeaderDiv p {
    font-size: 16px;
    width: 75%;
  }
  .imageheaderDiv {
    width: 50%;
  }
  .imageheaderDiv img {
    width: 43%;
  }
}

@media (min-width: 2000px) {
  .textHeaderDiv h2 {
    font-size: 30px;
  }
  .textHeaderDiv h1 {
    font-size: 120px;
  }
  .textHeaderDiv p {
    font-size: 25px;
  }
}

@media (max-width: 1500px) {
  .textHeaderDiv {
    justify-content: flex-start;
  }
}

@media (max-width: 800px) {
  .pages-div {
    display: none;
  }
}

@media (min-width: 500px) {
  .search {
    display: flex;
  }
  .hamBars {
    display: none;
  }
  .hiddenav {
    display: none;
  }
}

@media (min-width: 800px) {
}
